.portifolio-section {
  display: grid;
  box-sizing: border-box;
}

.portifolio-section > .portfolio-thumb {
  display: flex;
}

.portifolio-section > .portfolio-thumb > .image {
  width: 100vw;
}

@media (min-width: 700px) {
  .portifolio-section {
    grid-template-columns: 1fr 1fr;
  }

  .portifolio-section > .portfolio-thumb > .image {
    width: 100%;
    display: block;
  }
}

@media (min-width: 1080px) {
  .portifolio-section {
    margin-left: var(--space-80);
    margin-right: var(--space-80);
  }
}

@media (min-width: 1240px) {
  .portifolio-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
