.contact-title {
  color: var(--color-zero);
  font-size: 42px;
  text-transform: uppercase;
}

.contact-title > .subtitle {
  font-size: 16px;
  display: block;
  text-transform: none;
}

@media (min-width: 1800px) {
  .contact-title {
    font-size: 90px;
  }
  .contact-title > .subtitle {
    font-size: 30px;
  }
}
