.scroll-arrow {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: var(--color-zero);
  font-size: var(--size-min);
  text-decoration: none;
}

.scroll-arrow > .arrow {
  width: 34px;
  height: 34px;
  margin-top: 5px;
}

.scroll-arrow::after {
  margin-top: 5px;
  content: url(../../img/down-arrow.png);
  display: block;
}