.scroll-arrow {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.scroll-arrow > .text {
  color: var(--color-zero);
  font-size: var(--size-min);
}

.scroll-arrow > .arrow {
  width: 34px;
  height: 34px;
}
