.skill-section {
  background-color: var(--color-secondary);
  padding: 115px 80px 115px 90px;
  display: block;
  border-top: 4px solid var(--color-primary);
}

.skill-section > .skill-description:nth-child(1) {
  margin-bottom: var(--space-big);
}
