body {
  background-color: var(--color-primary);
  font-family: 'Montserrat', sans-serif;
  min-width: 290px;
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-zero);
}
