.banner-home {
  background-color: var(--color-secondary);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: var(--space-60) 0 var(--space-40) 0;
  margin-bottom: var(--space-40);
}

.banner-home > .banner-title {
  margin-bottom: var(--space-60);
}
