.banner-home {
  background-color: var(--color-secondary);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: var(--space-60) 0 var(--space-40) 0;
  margin-bottom: var(--space-40);
}

.banner-home > .banner-title {
  margin-bottom: var(--space-60);
  margin-top: 10vw;
}

.banner-home > .scroll-arrow {
  margin-top: 5vw;
}

@media (min-width: 700px) {
  .banner-home {
    margin: 0 var(--space-40) var(--space-40) var(--space-40);
  }
}

@media (min-width: 1080px) {
  .banner-home {
    margin: 0 var(--space-80) var(--space-80) var(--space-80);
  }
}