.header-name {
  color: var(--color-zero);
  text-transform: uppercase;
  font-size: var(--size-min);
  font-weight: 800;
  letter-spacing: 4.8px;
}

@media (min-width: 400px) {
  .header-name {
    letter-spacing: 5.5px;
  }
}
