.social-icons {
  display: flex;
}

.social-icons .icon {
  height: 22px;
}

.social-icons .social {
  margin-right: 20px;
}
.social-icons .social:last-child {
  margin: 0;
}

@media (min-width: 1800px) {
  .contact-footer > .links > .social-icons .icon {
    height: 40px;
  }
  .contact-footer > .links > .social-icons .social {
    margin-right: 33px;
  }
}
