.about-section {
  background-color: var(--color-zero);
  padding: var(--space-60) var(--space-60) 0 var(--space-40);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow-x: hidden;
}

.about-section > .about {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.about-section > .about > .social-icons {
  margin-bottom: var(--space-60);
}

.about-section > .skill-side {
  margin-top: var(--space-60);
}
