.about-section {
  background-color: var(--color-zero);
  display: grid;
  grid-auto-flow: row;
  width: 100%;
}

.about-section > .about {
  padding: var(--space-60) var(--space-60) 0 var(--space-40);
  max-width: 666px;
}

.about-section > .about > .social-icons {
  margin-bottom: var(--space-60);
}

.about-section > .skill-side {
  background-color: var(--color-secondary);
  margin-top: var(--space-60);
  padding: 115px 0 115px 0;
  border-top: 4px solid var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  box-sizing: content-box;
}
.about-section > .skill-side > .skill-description {
  margin-left: var(--space-60);
}
.about-section > .skill-side > .skill-description:nth-child(1) {
  margin-bottom: var(--space-60);
}

@media (min-width: 700px) {
  .about-section > .skill-side {
    flex-direction: row;
  }

  .about-section > .skill-side > .skill-description {
    margin-left: 0;
  }
  .about-section > .skill-side > .skill-description:nth-child(1) {
    margin-bottom: 0;
  }
}

@media (min-width: 1080px) {
  .about-section {
    grid-auto-flow: column;
    padding-bottom: 120px;
  }
  .about-section > .about {
    padding-right: var(--space-60);
    align-self: center;
  }

  .about-section > .skill-side {
    padding: 0;
  }

  .about-section > .skill-side > .skill-description {
    margin: var(--space-80) 0 var(--space-60) var(--space-60);
  }

  .about-section > .skill-side > .skill-description {
    margin-right: var(--space-60);
  }
}
