.under-construction {
  text-align: center;
}
.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-zero);
}

.content > .avatar {
  height: 40vmin;
}

.content > .text {
  text-transform: uppercase;
}
.content > .link {
  color: var(--color-secondary);
  margin-bottom: 10px;
}
