.skill-description {
  color: var(--color-primary);
}

.skill-description > .title:before {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: var(--color-primary);
  margin-bottom: var(--space-40);
}

.skill-description > .title {
  font-size: var(--size-big);
  margin-bottom: var(--space-40);
}

.skill-description > .skill {
  font-size: var(--size-med);
  font: normal normal 400 var(--size-med) / 2 'Merriweather', sans-serif;
}
