.contact-footer {
  padding: var(--space-40);
}
.contact-footer > .contact-title {
  margin-bottom: 18px;
}

.contact-footer > .social-icons {
  margin-bottom: 18px;
}

.contact-footer > .avatar-contact {
  margin-top: 50px;
  display: block;

  width: 288px;
  height: 288px;
}
