.contact-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--space-40);
}
.contact-footer > .contact-title {
  margin-bottom: 18px;
}

.contact-footer > .links > .social-icons {
  margin-bottom: 18px;
}

.contact-footer > .avatar-contact {
  margin-top: 50px;
  width: 210px;
  height: 210px;
}

@media (min-width: 700px) {
  .contact-footer {
    justify-content: center;
  }
  .contact-footer > .contact-title {
    margin-right: var(--space-40);
  }

  .contact-footer > .avatar-contact {
    margin-top: 0;
    align-self: center;
  }
  .contact-footer > .links {
    margin-right: var(--space-40);
  }
}

@media (min-width: 1080px) {
  .contact-footer {
    justify-content: flex-start;
    align-items: center;
    margin-left: var(--space-80);
    margin-right: var(--space-80);
    padding-left: 0;
    padding-right: 0;
  }

  .contact-footer > .contact-title {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 48px;
  }

  .contact-footer > .contact-title > .subtitle {
    position: absolute;
    top: -16px;
  }
  .contact-footer > .contact-title::after {
    margin-left: 30px;
    display: inline;
    position: relative;
    bottom: var(--space-40);
  }
}

@media (min-width: 1240px) {
  .contact-footer {
    justify-content: space-between;
  }

  .contact-footer > .avatar-contact {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1800px) {
  .contact-footer > .avatar-contact {
    width: 324px;
    height: 324px;
  }
}
